:root {
  --bg-color: #ececec;

  --border-radius: 1rem;
  --border-thickness: 2px;
  --border-color: #e4e4e4;

  --default-copy-color: #222222;
  --inverted-copy-color: #dbdbdb;
  --emphasis-copy-color: #1b1b1b;

  --control-padding: 1rem;
  --control-bg-color: #6375d0;
  --control-bg-gradient: linear-gradient(to left, #cfdef3, #e0eafc);
  --control-focus-ring: #5f9ea0;

  --card-bg-color: #fffdf9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #4f4f4f;

    --border-color: #505050;

    --default-copy-color: #dbdbdb;
    --inverted-copy-color: #1b1b1b;
    --emphasis-copy-color: #f3f3f3;

    --control-bg-color: #b3bdef;
    --control-bg-gradient: linear-gradient(to left, #363434, #272727);
    --control-focus-ring: #a6cacb;
    --card-bg-color: #2b2b2b;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-content);
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--default-copy-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  color: var(--emphasis-copy-color);
}

body {
  padding: 12px;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#__next,
main {
  height: 100%;
}
