.shadow {
  position: absolute;
  bottom: -50px;
  left: -5%;
  width: 110%;
  height: 120px;
  border-radius: 50%;
  background-color: var(--control-bg-accent);
}

.startButton {
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  margin: 0 auto;
  font: inherit;
  font-size: 1.65rem;
  font-weight: bold;
  outline: none;
  width: 180px;
  height: 90px;

  border-radius: 40% 60% 30% 50%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  background: var(--control-bg-gradient);
  border: var(--border-thickness) solid var(--control-bg-color);
}
