.container {
  height: 100%;
  margin: 0 auto;
  min-width: 245px;
  max-width: 512px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.card {
  margin: 1rem;
}

.info {
  color: #b6b4b4;
  margin-bottom: 1rem;
}

.pageInfo {
  text-align: center;
  font-size: 14px;
}

.question,
.job {
  margin: 1rem 0;
}

.job {
  font-size: 2.2rem;
  text-align: center;
}

.image {
  align-self: center;
}

.text {
  margin: 0.8rem 0;
}
