.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.card {
  margin: 1rem;
  height: 100%;
}

.info {
  color: #b6b4b4;
  margin-bottom: 1rem;
}

.pageInfo {
  text-align: center;
  font-size: 14px;
}

.question,
.job {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.job {
  font-size: 2rem;
}

.text {
  margin: 1rem 0;
}
