.container {
  height: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  min-width: 245px;
  max-width: 512px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.home {
  min-width: 500px;
}

.info {
  color: #b6b4b4;
  margin-bottom: 1rem;
}

.pageInfo {
  text-align: center;
  font-size: 14px;
}

.question,
.job {
  margin: 1rem 0;
}

.job {
  font-size: 2.2rem;
  text-align: center;
}

.image {
  color: red;

  align-self: center;
}

.text {
  margin: 0.8rem 0;
}

.shadow {
  position: absolute;
  bottom: -50px;
  left: -5%;
  width: 110%;
  height: 120px;
  border-radius: 50%;
  background-color: var(--control-bg-accent);
}

.startButton {
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  margin: 0 auto;
  font: inherit;
  font-size: 1.75rem;
  font-weight: bold;
  outline: none;
  width: 200px;
  height: 100px;

  border-radius: 40% 60% 30% 50%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  background: var(--control-bg-gradient);
  border: var(--border-thickness) solid var(--control-bg-color);
}
