.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.question {
  margin: 1rem;
}

.pageInfo {
  text-align: center;
  font-size: 14px;
}
