.checkbox {
  display: flex;
  align-items: center;
  width: 22px;
  min-width: 22px;
  height: 22px;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: 50%;
  margin-right: 10px;
}

.answer {
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font: inherit;
  appearance: none;

  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--card-bg-color);

  padding: var(--control-padding);

  width: 100%;
  text-align: left;

  margin-top: 0.8rem;
}

.answer img {
  display: none;
  width: 18px;
  height: 14px;
}

.answer:focus .checkbox,
.answer:active .checkbox {
  border-color: var(--control-bg-color);
  background-color: var(--control-bg-color);
}

.answer:active img,
.answer:focus img {
  display: block;
}

.answer:focus {
  color: var(--default-copy-color);
  border-color: var(--control-bg-color);
  background: var(--control-bg-gradient);
}
