.button {
  width: 100%;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  padding: var(--control-padding);

  text-align: center;

  color: var(--inverted-copy-color);

  border: var(--border-thickness) solid var(--control-bg-color);
  border-radius: var(--border-radius);
  background-color: var(--control-bg-color);

  margin-top: 0.8rem;
}

.button:focus-visible {
  outline: var(--border-thickness) solid var(--control-focus-ring);
  outline-offset: 2px;
}

.secondary {
  color: var(--default-copy-color);
  background-color: var(--card-bg-color);
}
