.button {
  width: 100%;
  cursor: pointer;
  font: inherit;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 0.8rem;
  padding: var(--control-padding);
  color: var(--inverted-copy-color);
  border: var(--border-thickness) solid var(--control-bg-color);
  border-radius: var(--border-radius);
  background-color: var(--control-bg-color);
}

.secondary {
  color: var(--default-copy-color);
  background-color: var(--card-bg-color);
}
