.progressBarOuter {
  height: 4px;
  transition: width 0.2s ease-in-out;
  border-radius: 2px;
  margin: 20px 0;
  margin-top: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.progressBarInner {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 2px;
  transition: width 0.4s ease-in-out;
}
